
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{ height: 100%; background-color: hsl(218, 28%, 13%); Font-size: 14px;}


/* Standard elements*/

a{
	color: black; text-decoration: none;
}

.clear{clear: both;}

.container, #container{
	max-width: 1280px; padding: 0 2%; margin: 0 auto;
}

/*                              -------------------Header------------------                                   */

section.header{
	width: 100%;
	height: 930px;
	border:	1px solid white;
}

section.header > header.container{
	display: inline-block;
	width: 100%;
	height: auto;
	margin:39px 2%;
}

section.header > header.container > div.logo{
	display: inline-block;
	width: 130px;
	height: 40px;
	background-image: url('../images/logo.svg');
	background-size: 100%;
	background-repeat: no-repeat;
}

section.header > header.container > nav.menu-container{
	float: right;
	padding: 11px 0;
	margin-right: 6px;
}

section.header > header.container > nav.menu-container > ul.menu-desktop{
	
}

section.header > header.container > nav.menu-container > ul.menu-desktop > li{
	display: inline-block;
	margin: 0 20px;
}

section.header > header.container > nav.menu-container > ul.menu-desktop > li > a{
	color: hsla(0, 0%, 100%, 0.514);
	font-size: 17px;
}

section.header > header.container > nav.menu-container > ul.menu-desktop > li > a:hover{
	border-bottom: 0.8px solid white;
	color: white;
}

/* content-header */

section.header > div.content-header{
	display: inline-block;
	width: 96%;
	height: 600px;
	/* border-top: 1px solid lightcoral; */
	text-align: center;
	padding: 0 2%;
}

section.header > div.content-header > img{
	max-width: 720px;
	width: 102%;
	margin: 18px 2% 8px 2%;
}

section.header > div.content-header > div.box-text{
	display: inline-block;
	max-width: 720px;
	width: 100%;
	height: auto;
}

section.header > div.content-header > div.box-text > h2{
	display: inline-block;
	font-size: 35px;
	width: 90%;
	color: white;
	text-align: center;
}

section.header > div.content-header > div.box-text > p{
	color: rgba(255, 255, 255, 0.685);
	display: inline-block;
	margin: 22px 0;
	font-size: 18px;
	width:64%;
	min-width: 339px;
	text-align: center;
}

section.header > div.content-header > div > div.btn-1{
	display: inline-block;
	width: 235px;
	height: 45px;
	background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
	border-radius: 34px 34px;
	cursor: pointer;
}

section.header > div.content-header > div > div.btn-1 > h3{
	color: rgba(255, 255, 255, 0.767);
	margin-top: 12px;
	font-size: 19px;
	cursor: pointer;
}

/*                          -------------------The Header end------------------                               */





/*                              -------------------Content------------------                                  */

/* ---- section-1 ---- */
article.section-1{
	display: inline-block;
	max-width: 1280px;
	width: 100%;
	height: 680px;
	margin: 0 2%;
	background-color: yellow;
	text-align: center;
}

article.section-1 > section.container{
	display: inline-block;
	max-width: 860px;
	width: 100%;
	height: 480px;
}

/* sec1 */
article.section-1 > section.container > div.sec1{
	display: inline-block;
	width: 430px;
	height: 110px;
	background-color: red;
}

article.section-1 > section.container > div.sec1 > img{

}

article.section-1 > section.container > div.sec1 > h2{

}

article.section-1 > section.container > div.sec1 > p{

}
/* End sec1 */

/* sec2 */
article.section-1 > section.container > div.sec2{
	display: inline-block;
	width: 430px;
	height: 110px;
	background-color: blue;
}

article.section-1 > section.container > div.sec2 > img{

}

article.section-1 > section.container > div.sec2 > h2{

}

article.section-1 > section.container > div.sec2 > p{

}
/* End sec2 */

/* sec3 */
article.section-1 > section.container > div.sec3{
	display: inline-block;
	width: 430px;
	height: 110px;
	background-color: green;
}

article.section-1 > section.container > div.sec3 > img{

}

article.section-1 > section.container > div.sec3 > h2{

}

article.section-1 > section.container > div.sec3 > p{

}

article.section-1 > section.container > div.sec4{
	display: inline-block;
	width: 430px;
	height: 110px;
	background-color: white;
}

article.section-1 > section.container > div.sec4 > img{

}

article.section-1 > section.container > div.sec4 > h2{

}

article.section-1 > section.container > div.sec4 > p{

}
/* End sec3 */

/*       ---- The section-1 end----     */


/*           ---- section-2 ----        */

article.section-2{

}

/* image in the section 2 */

article.section-2 > div.img-section2{

}

/* Text in the section 2 */

article.section-2 > div.text-section2{

}

article.section-2 > div.text-section2 > h2{

}

article.section-2 > div.text-section2 > p{

}

article.section-2 > div.text-section2 > a{

}

/*       ---- The section-2 end----     */


/*           ---- section-3 ----        */

article.section-3{

}

article.section-3 > div.img-section3{
	
}

/* Section 3 - box 1 */

article.section-3 > div.box-1{

}

article.section-3 > div.box-1 > p{

}

article.section-3 > div.box-1 > img{

}

article.section-3 > div.box-1 > h2{

}

article.section-3 > div.box-1 > h5{

}

/* The Section 3 - box 1 end */

/* Section 3 - box 2 */

article.section-3 > div.box-2{

}

article.section-3 > div.box-2 > p{

}

article.section-3 > div.box-2 > img{

}

article.section-3 > div.box-2 > h2{

}

article.section-3 > div.box-2 > h5{

}

/* The Section 3 - box 2 end */

/* Section 3 - box 3 */

article.section-3 > div.box-3{

}

article.section-3 > div.box-3 > p{

}

article.section-3 > div.box-3 > img{

}

article.section-3 > div.box-3 > h2{

}

article.section-3 > div.box-3 > h5{

}

/* The Section 3 - box 1 end */

/*       ---- The section-3 end----     */

/*                          -------------------The Content end------------------                              */





/*                              -------------------Footer------------------                                   */

footer{
	background-color: hsl(216, 53%, 9%);
}

/* icon-footer */

footer > div.icon-footer{
	
}

/* Description-Footer */

footer > div.description-footer{
	
}

footer > div.description-footer > p{
	
}

/* Contacts 1 */

footer > div.contacts-footer{
	
}

footer > div.contacts-footer > span{
	
}

/* Contacts 2 */

footer > nav.contacts2-footer{
	
}

footer > nav.contacts2-footer > ul{
	
}

footer > nav.contacts2-footer > ul > li{
	
}

/* Contacts 3 */

footer > nav.contacts3-footer{
	
}

footer > nav.contacts3-footer > ul{
	
}

footer > nav.contacts3-footer > ul > li{
	
}

/* Contacts 4 */

footer > nav.contacts4-footer{
	
}

footer > nav.contacts4-footer > ul{
	
}

footer > nav.contacts4-footer > ul > li{
	
}

/*                          -------------------The footer end------------------                               */